# Ignore useless gradle stuff
.gradle/
gradle-wrapper.properties

# Ignore binaries
build/
*.class
*.jar

# Ignore useless IntelliJ generated stuff
.idea/
*.iml
*.ipr
*.iws

# Ignore useless MacOS files
.DS_Store

# Ignore useless Windows files
Thumbs.db
